.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--white-color);
  height: 58px;
  width: 100wh;
  padding: 0 19px;
}

.logoLink,
.logoImg {
  height: 33px;
  align-self: center;
  cursor: pointer;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  width: 70px;
  flex-flow: row;
  align-self: center;
  /* margin-right: 15px; */
}


@media (min-width: 768px) {
  .userInfo {
    width: fit-content;
    padding: 0 26px;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .header {
    max-width: 1280px;
    margin: 0 auto;
  }
}
