html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

// Повторяющиеся классы из разных секций и компонентов

.mainContainer {
  @include flex(space-between, center);
  max-width: 320px;
  padding: 0;

  border: 1px solid #e53935;
  // background-color: #7588e6;

  @include tablet() {
    max-width: 768px;

    border: 1px solid #2a36b6;
  }

  @include desktop() {
    max-width: 1280px;

    border: 1px solid #31c153;
  }
}
