// bg-color
$primary-bg-color: #E5E5E5;
$secondary-bg-color: #F6F7FB;

// text-color
$primary-text-color: #52555F;
// $primary-color-text-transparent: #52555f 70%;

// report icon color
$icon-dark: #071F41;

// accent color
$accent-color-orange: #FF751D;


// No need ?? 
// $accent-color-red: #e53935;
// $accent-color-green: #407946;


$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
