@import "../../stylesheet/base";

.userMount {
  @include flex(space-between, center);
  // position: relative;
  width: 282px;
  height: 85px;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 25px;
  // font-style: "Roboto";
  font-weight: 700;
  font-size: 14px;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);

  // top: 152px;
  @include tablet {
    margin: 0 auto 30px;
    // top: 60px;
    width: 666px;
    height: 50px;
    // margin-bottom: 30px;
  }
  @include desktop {
    width: 1060px;
  }
  &:hover,
  &:focus {
    box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  }
}

.expenseContainer {
  width: calc(50% - 1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    flex-direction: row;

    //   @include flex;
    padding-left: 90px;
  }
  @include desktop {
    // display: inline-block;
    padding-left: 300px;
  }
}

.incomeContainer {
  width: calc(50% - 1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    flex-direction: row;

    //   @include flex;
    padding-right: 90px;
  }
  @include desktop {
    // display: inline-block;
    padding-right: 300px;
  }
}

.expenseText {
  // display: inline;
  // position: relative;
  margin-bottom: 5px;
  @include tablet {
    margin-right: 15px;
    margin-left: 21px;
  }
}

.userExpense {
  // display: inline;
  color: red;
  // margin-right: 21px;
}

.incomeText {
  // display: inline;
  // position: relative;
  margin-bottom: 5px;
  @include tablet {
    margin-right: 15px;
    margin-left: 21px;
  }
}
.userIncome {
  // display: inline;
  color: green;
  // margin-right: 21px;
}

.Line {
  margin-right: 0 0;
  height: 75px;
  @include tablet {
    height: 35px;
  }
}
