@import "../../stylesheet/base";

.userMount {
  @include flex(space-between, center);
  // position: relative;
  width: 282px;
  height: 85px;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 25px;
  font-style: "Roboto";
  font-weight: 700;
  font-size: 14px;
  top: 152px;
  @include tablet {
    top: 60px;
    width: 668px;
    height: 50px;
    margin-bottom: 30px;
  }
  @include desktop {
    width: 1060px;
  }

  .expenseContainer {
    @include tablet {
      @include flex;
      padding-left: 100px;
    }
    @include desktop {
      padding-left: 300px;
    }

    .expenseText {
      position: relative;
      margin-bottom: 5px;
      @include tablet {
        margin-right: 15px;
      }
    }

    .userExpense {
      color: red;
    }
  }

  .incomeContainer {
    @include tablet {
      @include flex;
      padding-right: 100px;
    }
    @include desktop {
      padding-right: 300px;
    }

    .incomeText {
      position: relative;
      margin-bottom: 5px;
      @include tablet {
        margin-right: 15px;
      }
    }
    .userIncome {
      color: green;
    }
  }

  .Line {
    margin-right: 0 0;
    height: 75px;
    @include tablet {
      height: 35px;
    }
  }
}
