  $white-color: #ffffff;
  $secondary_bg-color: #f2f5fc;
  $title-color-text: #000000;
  $primary-color-text: #52555f;
  $primary-color-text-transparent: #52555f 70%;
  $icon-dark: #091e3f;
  $button-hover: #0c2346;
  $accent-color-orange: #ff751d;
  $accent-color-red: #e53935;
  $accent-color-green: #407946;