.mobileWrapper {
  padding: 15px 19px;
}
.returnLink {
  width: 24px;
  height: 24px;
  margin: 15px 0;
  /* content: "";
  background-image: url(../../assets/images/return-link.png); */
}
/* .returnLink::after {
  background-image: url(../../assets/images/return-link.png);
} */

.returnLinkWrapper {
  padding: 15px 19px;
}

@media screen and (min-width: 768px) {
  .dataField {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 665px;
    /* height: 580px; */
    padding: 30px 20px 40px;
    background-color: #fff;

    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
  }

  .btnWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* Добавила margin-top, чтобы оттолкнуться от баланса */
    margin-top: 93px;
  }

  .dataWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .enterFormWrapper {
    display: flex;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .dataWrapper {
    flex-direction: row;
  }

  .dataField {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 1060px;
    height: 580px;
    padding: 33px 20px 35px;
    background-color: #fff;

    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
  }

  .enterFormWrapper {
    display: flex;
    width: 100%;

    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0;
  }
}
