@media screen and (min-width: 280px) {
  .notActiveLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 2px);
    height: 40px;
    border: none;
    border-color: transparent;
    margin: 0;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;
    background-color: #f5f6fb;
  }
  .notActiveLink:hover,
  .notActiveLink:focus {
    color: #ffffff;
    background-color: #ff751d;
  }
}

@media screen and (min-width: 768px) {
  .activeLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    border: none;
    margin: 0;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #ff751d;
    background-color: #fefefe;
  }

  .notActiveLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    border: none;
    margin: 0;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;
    background-color: #fafbfd;
  }
}
