.logoutBtn {
  display: flex;
  background: transparent;
  border: none;
}

.logoutSvg {
  display: flex;
  fill: #b5b5b6;
  width: 20px;
  height: 20px;
}

.logoutSvg:hover {
  cursor: pointer;
}
.logoutText {
  display: none;
}

@media (min-width: 768px) {
  .logoutSvg {
    display: none;
  }
  .logoutText {
    display: flex;
  }
  .logoutText:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
