/* Кнопка входа */

.btnEnter {
  /* padding: 34px 12px 34px 12px; */
  font-family: "Roboto Bold Italic", sans-serif;
  font-weight: 700;
  width: 125px;
  height: 44px;
  background-color: $accent-color-orange;
  color: $white-color;
  border-radius: 16px;
  border: $accent-color-orange;
  font-size: 12px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  text-transform: uppercase;
}

/* Кнопка регистрации */

.btnRegister {
  /* padding: 34px 12px 34px 12px; */
  font-family: "Roboto Bold Italic", sans-serif;
  font-weight: 700;
  width: 125px;
  height: 44px;
  border-radius: 16px;
  color: $primary-color-text;
  border: none;
  font-size: 12px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  text-transform: uppercase;
}

/* 
Кнопка "ввод"
Кнопка "да" 
*/

.btnSubmit {
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 15px;
  padding-bottom: 14px;
  width: 125px;
  height: 44px;
  background-color: $accent-color-orange;
  color: $white-color;
  border-radius: 16px;
  border: $accent-color-orange;
  font-size: 12px;

  outline: none;
  text-transform: uppercase;
}

/* 
Кнопка "очистить"
Кнопка "нет" 
*/

.btnClear {
  padding: 12px 25px 12px 25px;

  width: 125px;
  height: 44px;
  background-color: $white-color;
  color: $primary-color-text;
  border-radius: 17px;
  border: none;
  font-size: 12px;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 0px 30px 30px 30px;

  outline: none;
  text-transform: uppercase;
}
