// Миксин объявляется с помощью директивы @mixin и его имени. 
// Далее могут идти необязательные параметры в круглых скобках (сами скобки обязательны), а в фигурных - набор свойств и значений.

// Создадим миксин для задания только верхней и нижней рамки элемента, 
// и сделаем цвет рамки настраиваемым значением. Параметры миксина это локальные SASS-переменные.

// Пример mixin

// Добавить стили миксина к селектору можно при помощи директивы @include, 
// после которой вызываем миксин и передаём значения для настраиваемых свойств.

// После компиляции будут только правила для селекторов .section и .header 
// с добавленным кодом из миксина, кода объявления самого миксина не будет.

@mixin bordered($primary-color-text) {
  border-top: 1px solid $icon-dark;
  border-bottom: 1px solid $accent-color-red;
}

.section {
  @include bordered(tomato);
  padding: 20px;
}

.header {
  @include bordered(green);
  min-height: 80px;
}