  .goBack {
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #52555F;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 77px;
    left: -41px
  }
  .arrowSvg {
    display: flex;
    width: 18px;
    height: 12px;
  }
  .arrowText {
    visibility: hidden;
  }
  @media screen and (min-width: 768px) {
    .goBack {
      position: absolute;
      display: flex;
      width: 153px;
      top: 113px;
      left: 15px;
    }
    .arrowText {
    visibility: visible;
    font-size: 12px;
    margin-right: -15px;
    }
  }
  @media screen and (min-width: 1280px) {
    .goBack {
      max-height: 100%;
      position: absolute;
      display: flex;
      top: 113px;
      left: 91px;
    }
    .arrowText {
      visibility: visible
      }
} 