@import "../../../stylesheet/base";

.product {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-top: 35px;
  padding-left: 19px;
  padding-right: 19px;
  text-align: center;

  @include tablet {
    width: 768px;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }

  @include desktop {
    width: 850px;
  }

  &Description {
    border: 2px solid #ffffff;
    background-color: transparent;

    border-radius: 16px 16px 0px 0px;
    width: 282px;
    height: 44px;
    padding-left: 20px;
    margin-right: 0;
    margin-left: 0;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #c7ccdc;
      opacity: 1; /* Firefox */
    }
    @include tablet {
      border: 2px solid #f5f6fb;
      border-right: transparent;

      border-radius: 16px 0px 0px 0px;
      width: 170px;
      height: 44px;
    }

    @include desktop {
      width: 287px;
    }
  }

  &Category {
    border: 2px solid #ffffff;
    background-color: transparent;

    border-top: transparent;

    width: 282px;
    height: 44px;
    padding-left: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #c7ccdc;
      opacity: 1; /* Firefox */
    }

    @include tablet {
      border: 2px solid #f5f6fb;
      border-right: transparent;

      width: 170px;
      height: 44px;
      padding-left: 20px;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 0px;

      margin-bottom: 30px;
    }

    @include desktop {
      width: 188px;
    }
  }

  // Выпадающий список
  &ResultList {
    width: 282px;
    max-height: 300px;
    position: relative;
    position: absolute;
    top: 85px;
    left: 3px;
    background: #f5f6fb;
    overflow-y: scroll;
    border: 2px solid #ffffff;
    border-top: transparent;
    padding-left: 20px;

    @include tablet {
      position: relative;
      width: 175px;
      max-height: 300px;
      position: absolute;
      top: 43px;
      left: 169px;
      background: #ffffff;
      overflow-y: scroll;
      border: 2px solid #f5f6fb;
      border-top: transparent;
    }

    @include desktop {
      width: 177px;
      left: 270px;
    }
  }

  &ResultListItem {
    height: 32px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #c7ccdc;
  }

  &ResultListItem:hover {
    background-color: #ffffff;

    @include tablet {
      color: #c7ccdc;
    }
  }

  &AmountInput {
    border: 2px solid #ffffff;
    background-color: transparent;
    border-right: transparent;
    border-radius: 16px 0px 0px 16px;

    width: 123px;
    height: 44px;
    padding-right: 15px;
    margin-right: 0;
    margin-left: 0;
    text-align: right;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */

      opacity: 1; /* Firefox */
      color: #000000;

      font-weight: 700;

      letter-spacing: 0.02em;
      text-transform: uppercase;
    }

    @include tablet {
      border: 2px solid #f5f6fb;
      background-color: transparent;
      border-right: transparent;

      border-radius: 0px 0px 0px 0px;

      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.02em;
      height: 44px;
      background-color: transparent;
      width: 75px;
      padding-right: 0;

      margin-bottom: 30px;
      margin-left: 0;

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */

        opacity: 1; /* Firefox */
        color: #c7ccdc;
      }
    }

    @include desktop {
      width: 95px;
    }
  }

  &Form {
    position: relative;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      margin-left: 33px;
      margin-right: 0 !important;
      width: 500px;
    }

    @include desktop {
      position: relative;
      display: flex;
      flex-wrap: nowrap;

      margin-right: 0 !important;
      width: 870px;
      margin-left: 0 !important;
    }
  }
}

.arrowDown {
  position: absolute;
  top: 60px;
  left: 250px;

  @include tablet {
    position: absolute;
    top: 20px;
    left: 310px;
  }

  @include desktop {
    position: absolute;
    top: 20px;
    left: 420px;
  }
}

.productAmountLabelBox {
  display: flex;

  align-items: center !important;
  padding-left: 50px;

  @include tablet {
    padding-left: 0;
    margin-left: 0;
  }
}

.calculatorLogoContainer {
  border: 2px solid #ffffff;
  background-color: transparent;

  border-radius: 0px 16px 16px 0px;

  width: 60px;
  height: 44px;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-top: 10px;

  @include tablet {
    width: 51px;
    border: 2px solid #f5f6fb;

    border-left: transparent;
    margin-bottom: 30px;
  }

  @include desktop {
    width: 42px;
  }
}

.btnSubmit {
  margin-right: 15px;
  font-weight: 700;

  padding-right: 35px;
  padding-left: 35px;
  padding-top: 15px;
  padding-bottom: 14px;
  width: 125px;
  height: 44px;
  background-color: #ff751d;
  color: #ffffff !important;

  color: var(--white-color);
  border-radius: 16px;
  border: var(--accent-color-orange);
  font-size: 12px;

  outline: none;
  text-transform: uppercase;
  margin-top: 83px;

  &:hover {
    box-shadow: 1px 3px 5px rgba(255, 107, 8, 0.35);
  }

  @include tablet {
    margin-left: 30px;
    margin-top: 0;
  }
}

.btnClear {
  padding: 12px 25px 12px 25px;

  width: 125px;
  height: 44px;
  background: #f5f6fb;

  border-radius: 17px;
  border: none;
  font-size: 12px;
  font-weight: 700;

  outline: none;
  text-transform: uppercase;

  &:hover {
    box-shadow: 1px 2px 5px rgba(42, 60, 102, 0.4) !important;
  }

  @include tablet {
    margin-right: 0 !important;
    margin-left: 0 !important;
    background-color: transparent;
    border: 2px solid #f6f7fc;
  }
}

.arrowBack {
  border: none;
  background-color: transparent;
  display: block;
  margin-left: 0;
  margin-bottom: 15px;

  @include tablet {
    display: none;
  }
}
