@import "../../stylesheet/base";

.dataContainer {
  margin: 16px auto 30px auto;
  @include flex(space-between, center);

  flex-direction: column;
  font-style: "Roboto";
  @include tablet {
  }
  @include desktop {
    margin: 0;
  }

  .countText {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
    color: $primary-text-color;
  }

  .data {
    font-weight: 700;
    font-size: 14px;
    color: $icon-dark;
    text-transform: uppercase;

    .button {
      margin-right: 15px;
    }
    .button1 {
      margin-left: 15px;
    }
  }
}
