.dataContainer {
  display: flex;
  position: relative;
  top: 16px;
  align-items: center;
  height: 40px;
  background-color:transparent;
  margin: 0 0;
  flex-direction: column;
  max-width: content;
}
.button{
margin-right: 15px;
}
.button1{
margin-left: 15px;
}
.countText {
  font-size: 12px;
  font-weight: 400;
  font-style: "Roboto";
  margin-bottom: 5px;
}
.data {
  align-items: center;
  font-style: "Roboto";
  font-weight: 700;
  font-size: 14px;
  color: #071F41;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .dataContainer {
  position: relative;
  margin-left: 500px;
  }
}
@media screen and (min-width: 1280px) {
.dataContainer {
  position:fixed;
  margin-left: 785px;
  top: 100px;
}
}
