@import "../../stylesheet/base";

.dataContainer {
  @include flex(space-between, center);
  position: relative;
  top: 16px;
  background-color:transparent;
  margin: 0 0;
  flex-direction: column;
  font-style: "Roboto";
  @include tablet{
    top: 26px;
    left: 248px;
  }
  @include desktop{
    left: 194px;
  }

  .countText {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
    color: $primary-text-color;
  }

  .data {
    font-weight: 700;
    font-size: 14px;
    color: $icon-dark;
    text-transform: uppercase;
  
    .button{
    margin-right: 15px;
    }
    .button1{
    margin-left: 15px;
    }
  }
}

